.blockquote mb-0 t{
    text-align: center;
}

.site-footer{
    background-color: #FF8000;
    color: black;
    margin-top: 10px;
    padding-bottom : 10px;
  
    
}

.bottom-footer{
   
        margin-top : 10px;
        padding-top : 10px;
        margin-left: 10px;
        color:black;
        font-style: italic;
    }

.footer-nav{
    text-align: right;
    list-style: none;
}

.footer-nav li {
 
    display: inline;
    margin-bottom: 30px;
    
}

.footer-nav li:not(:first-child):before {
    content:'|';
    padding: 0px 15px;
   
   
}

.footer-nav a {
    color: black;
    
}

.footer-nav a:hover{
    color: white;
    
}



.card-header {

  float: right;
}


#marginleft{
    margin-right: 10px;
}
