h4 {
    text-align: center;
}

p{
    text-align: justify;
}

header{
    text-align: center
}

.lieu{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
    font-style: italic;
    font-size: small;
}