h4 {
    text-align: center;
    font-family: monospace;
}

p{
    font-family: monospace;
    font-size: large;
}

header{
    text-align: center ;
    font-family: monospace;
}

.ok{
    font-style: italic;
    font-size: 1px;
}

html{
    font-family: monospace;
}